<h1 class="center">Нууц үгээ сэргээх</h1>

<div class='user-form'>
  <div class="form-top"> </div>
  <div class="form-middle">
    <% form_for @user, :url => password_reset_path, :method => :put do |f| %>
    <%= f.error_messages %>
    <%= f.label :password, 'Нууц үг' %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, 'Нууц үгээ давт' %>
    <%= f.password_field :password_confirmation %>
    <div class="form-submitter">
    <%= f.submit "Нууц үгийг шинэчлээд Логин хий", :class=>"small yellow awesome" %>
    </div>
    <% end %>
  </div>
  <div class="form-bottom"></div>
</div>
