<h2>Хайлт: "<%= params[:q] %>"</h2>

<%= will_paginate @results, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>

<% @results.each do |result| %>
<dt><%= link_to result.name, result %></dt>
<dd><%= result.excerpts.text %></dd>
<% end %>

<%= will_paginate @results, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
