<h2>Хайлт: "<%= params[:q] %>"</h2>

<%= paginate @results %>

<% @results.each do |result| %>
<div>
<dt><%= link_to result.name, result %></dt>
<dd><%= result.excerpts.text %></dd>
</div>
<% end %>

<%= paginate @results %>

