= error_messages_for 'contest'
.bigger-inputs.span-20
  = text_field 'contest', 'name', :title => 'Тэмцээний нэр'
  
.span-20
  %span#start-contest
    = datetime_select 'contest', 'start', :use_month_numbers => true
    %label{:for => "contest_start"} Эхлэх
  %span#end-contest
    %label{:for => "contest_end"} Дуусах
    = datetime_select 'contest', 'end', :use_month_numbers => true
= text_area 'contest', 'description'

.span-20
  %span.input-level{:title => "Түвшин"}
    Түвшин
    = select 'contest', 'level', [['Бүгд', 0], ['Явган', 1], ['Дугуй', 2], ['Мотоцикл', 4], ['Машин', 8], ['Галт тэрэг', 16], ['Усан онгоц', 32], ['Нисдэг тэрэг', 64], ['Онгоц', 128]]
  %span.input-private
    Зөвхөн бодлого дэвшүүлсэн нь оролцох
    = check_box 'contest', 'private'

#preview 