- @contests.each do |contest|
  %h2
    = link_to contest.name, contest
  .subhead
    - if contest.private?
      %i.icon-lock{:data => {:toggle => :tooltip, :placement => 'bottom'}, :title => t('.explain-private')}
    %i.icon-time
    = l contest.start
    %i.icon-double-angle-right
    = l contest.end
    .muted
      = show_status contest

  %section
    = markdown contest.description
    = link_to contest, :class => 'btn btn-mini' do
      Visit contest
      %i.icon-share-alt

= paginate @contests
