- @contests.each do |contest|
  .page-title
    %h2
      = contest.name
      %small
        = link_to contest do
          %i.icon-share-alt

    .muted
      = show_status contest
      %i.icon-time
      = l contest.start
      %i.icon-double-angle-right
      = l contest.end
      - if contest.private?
        %i.icon-lock{:data => {:toggle => :tooltip, :placement => 'bottom'}, :title => 'Дэвшүүлсэн бодлого нь сонгогдсон тохиолдолд энэ тэмцээнд орох эрхтэй болно'}


  .page-content
    = markdown contest.description

= paginate @contests
