<h2>Тэмцээнүүд</h2>
<table width="100%">
  <tr>
    <th>Хугацаа</th>
    <th>Нэр</th>
    <th>Түвшин</th>
  </tr>

<% for contest in @contests %>
  <tr class="rank_<%= contest.level %>">
    <td><b><%=l contest.start %><br />
        <%=l contest.end %></b></td>
    <td><%= link_to contest.name, contest %></td>
    <td>(<%= contest.level_name %>)</td>
  </tr>
<% end %>
</table>


