%h2= title

%section
  = form_for @contest do |f|
    .row
      .span8
        = error_messages_for @contest
        = f.text_field :name, :placeholder => t('.name'), :class => 'input-block-level'
      .span8
        .input-prepend
          %span.add-on
            %i.icon-time
          %input.span3{:name=>"contest[start]", :type=>"datetime", :placeholder => t('.start_time'), :value => @contest.start}
        %i.icon-double-angle-right
        .input-prepend
          %span.add-on
            %i.icon-time
          %input.span3{:name=>"contest[end]", :type=>"datetime", :placeholder => t('.end_time'), :value => @contest.end}
    .row
      .span8
        = render partial: 'markdown/edit', locals: {object: 'contest', attribute: 'description'}

        %button.btn.btn-primary{:type=> :submit}
          %i.icon-save
          = t 'button.save'
