%h2#header-tooltip
  = @contest.name
  - if @contest.private?
    - if @contributed
      %i.muted.icon-unlock{:data => {:toggle => :tooltop, :placement => 'bottom'}, :title => 'Дэвшүүлсэн бодлого тань сонгогдсон учраас энэ тэмцээнд орох боломжтой'}
    - else
      %i.muted.icon-lock{:data => {:toggle => :tooltip, :placement => 'bottom'}, :title => 'Дэвшүүлсэн бодлого нь сонгогдсон тохиолдолд энэ тэмцээнд орох эрхтэй болно'}
.subhead
  %i.icon-time
  = l @contest.start
  %i.icon-double-angle-right
  = l @contest.end
  .muted
    = show_status @contest
  %br
  - if current_user
    - watching = @contest.watchers.include? current_user
    = link_to unwatch_contest_path(@contest), :method => :post, :data => {:toggle => :tooltip, :placement => 'bottom', :remote => true}, :id => 'watch', :class=> "btn btn-mini #{watching ? '' : 'hide'}", :title => 'Энэ тэмцээний тухай мэдэгдэл ирэхгүй болгох' do
      %i.icon-eye-close
      Unwatch
    = link_to watch_contest_path(@contest), :method => :post, :data => {:toggle => :tooltip, :placement => 'bottom', :remote => true}, :id => 'unwatch', :class => "btn btn-mini #{watching ? 'hide' : ''}", :title => 'Тэмцээнийн хугацаа өөрчлөгдөхөд надад мэдэгд' do
      %i.icon-eye-open
      Watch
  - if admin?
    = link_to edit_contest_path(@contest), :class => 'btn btn-mini' do
      %i.icon-wrench
      Edit
    = link_to @contest, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini' do
      %i.icon-trash
      Delete

%section
  = markdown @contest.description

.row
  .span9
    %ul.nav.nav-tabs#contest-tabs
      %li.active
        %a{'href' => "#included-problems"}
          %i.icon-question-sign
          Бодлогууд
      %li
        %a{'href' => "#participant-of", 'data-link' => contestants_contest_path(@contest)}
          %i.icon-group
          Оролцогчид
    .tab-content
      .tab-pane.active#included-problems
        - if @contest.started? || admin?
          %table.table
            %tbody
              - @contest.problems.each do |problem|
                %tr
                  %td
                    %h4
                      = solved_or_not @solved[problem.id]
                      = link_to problem.name, problem
                      %small.muted{title: 'Submitted/Passed'}
                        [#{problem.tried_count}/#{problem.solved_count}]
                    .muted
                      %small
                        %i.icon-flag{title: 'Level'}
                        = problem.level
                        %i.icon-time{title: 'Time limit'}
                        \#{problem.time} sec
                        %i.icon-hdd{title: 'Memory limit'}
                        \#{problem.memory} kb,
                        by
                        = link_to problem.user.login, problem.user

        = render :partial => 'comments/commentable', :object => @contest

      .tab-pane.active#participant-of
