%h2#header-tooltip
  = @contest.name
.subhead
  %i.icon-time
  = l @contest.start
  %i.icon-double-angle-right
  = l @contest.end
  .muted
    = show_status @contest
    - if current_user
      - watching = @contest.watchers.include? current_user
      = link_to unwatch_contest_path(@contest), :method => :post, :data => {:toggle => :tooltip, :placement => 'bottom', :remote => true}, :id => 'watch', :class=> "btn btn-mini #{watching ? '' : 'hide'}", :title => t('.unwatch') do
        %i.icon-eye-close
        = t('.unwatch')
      = link_to watch_contest_path(@contest), :method => :post, :data => {:toggle => :tooltip, :placement => 'bottom', :remote => true}, :id => 'unwatch', :class => "btn btn-mini #{watching ? 'hide' : ''}", :title => t('.watch') do
        %i.icon-eye-open
        = t('.watch')
    - if admin?
      = link_to edit_contest_path(@contest), :class => 'btn btn-mini' do
        %i.icon-wrench
        = t 'button.edit'
      = link_to @contest, :method => :delete, :confirm => t('.delete?'), :class => 'btn btn-mini' do
        %i.icon-trash
        = t 'button.delete'

%section
  = markdown @contest.description

.row
  .span9
    %ul.nav.nav-tabs#contest-tabs
      %li.active
        %a{'href' => "#included-problems"}
          %i.icon-question-sign
          = t '.problems'
      %li
        %a{'href' => "#participant-of", 'data-link' => contestants_contest_path(@contest)}
          %i.icon-group
          = t '.contestants'
    .tab-content
      .tab-pane.active#included-problems
        - if @contest.started? || admin?
          %table.table
            %tbody
              - @contest.problems.preload(:user).each do |problem|
                %tr
                  %td
                    %h4
                      = solved_or_not @solved[problem.id]
                      = link_to problem.name, [@contest, problem]
                      %small.muted{title: t('.submitted_passed')}
                        [#{problem.tried_count}/#{problem.solved_count}]
                        = link_to problem.user.login, problem.user
                    .muted
                      %small
                        %i.icon-flag{title: t('.points')}
                        = '%0.3f' % problem.point
                        %i.icon-time{title: t('.time-limit')}
                        \#{problem.time} #{t 'unit.second'}
                        %i.icon-hdd{title: t('.memory-limit')}
                        \#{problem.memory} #{t 'unit.kb'}

        = render :partial => 'comments/commentable', :object => @contest

      .tab-pane#participant-of
