%h1
  = topic_title_for params[:type]
  %span.rss= link_to 'RSS', comments_path(:format=>:rss)
%table
  %tr
    %th
    %th
    %th Илгээсэн тоо
    %th Сүүлд илгээсэн
  - @topics.each do |topic|
    %tr
      %td= topic.id
      %td= link_to topic.name, topic
      %td= topic.comments_count
      %td= l topic.commented_at if topic.commented_at

= paginate @topics