%dl
  %dt
    %i.icon-flag
  %dd
    %span.muted= t '.difficulty'
    = problem.level
%dl
  %dt
    %i.icon-time
  %dd
    %span.muted= t '.time-limit'
    = problem.time
    = t 'unit.second'
%dl
  %dt
    %i.icon-hdd
  %dd
    %span.muted= t '.memory-limit'
    = problem.memory
    = t 'unit.kb'
%dl
  %dt
    %i.icon-cogs
  %dd
    %span.muted= t '.test-count'
    = problem.tests.size
%dl
  %dt
    %i.icon-group
  %dd
    %span.muted= t '.pass-try-ratio'
    \#{problem.solved_count}/#{problem.tried_count} (#{problem.success_rate}%)
