<h2>Бодлогууд<%= link_to image_tag('rss.png')+'RSS', problems_path(:format=>:rss) %></h2>

  <% if @problems.size > 0 %>
    <table id="problems">
      <tr>
	<th width="1%"></th>
        <th><%= link_to 'Нэр',        :column=> 'name', :order => (params[:column] == 'name') ? @reverse : 'ASC' %></th>
        <th><%= link_to 'Оноо',       :column=> 'level', :order => (params[:column] == 'level') ? @reverse : 'ASC' %></th>
        <th><%= link_to 'Дэвшүүлсэн', :column=> 'user_id',:order => (params[:column] == 'user_id') ? @reverse : 'ASC' %></th>
        <th><%= link_to 'Огноо',      :column=> 'created_at', :order => (params[:column] == 'created_at') ? @reverse : 'ASC' %></th>
        <th colspan="2">Бодолт<br />
	  <%= link_to 'Нийт',         :column=> 'tried_count',:order => (params[:column] == 'tried_count') ? @reverse : 'ASC' %> /
          <%= link_to 'Зөв',          :column=> 'solved_count',:order => (params[:column] == 'solved_count') ? @reverse : 'ASC' %>
	</th>
	<th width="1%"></th>
      </tr>

      <% for problem in @problems %>
        <tr>
          <td><%= problem.id %></td>
          <td><%= link_to problem.name, problem %></td>
          <td><%= problem.level %></td>
          <td><%= link_to problem.user.login, problem.user %></td>
          <td><%=l problem.created_at, :format=>:date %></td>
          <td><%= problem.tried_count %></td>
	  <td><%= problem.solved_count %></td>
	  <td><%= solved_or_not @solved[problem.id] %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @problems, :class=>'apple_pagination', :previous_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
  <% else %>
    Бодлого алга!
  <% end %>

