%h1
  Problems

.row
  .span6
    %table.table.table-striped#problems
      %thead
        %tr
          %th{:width => "1%", :title => 'Difficulty from 1 to 8'}
            = link_to problems_path(:column=> 'level', :order => (params[:column] == 'level') ? @reverse : 'ASC') do
              %i.icon-flag
          %th{:width => "1%"}
          %th= link_to 'Нэр',        :column=> 'name', :order => (params[:column] == 'name') ? @reverse : 'ASC'
          %th= link_to 'Огноо',      :column=> 'created_at', :order => (params[:column] == 'created_at') ? @reverse : 'ASC'
      %tbody
        - @problems.each do |problem|
          %tr
            %td= problem.level
            %td= problem_solution_state problem
            %td= link_to problem.name, problem
            %td= l problem.created_at, :format=>:date
            %td #{problem.difficulty}%
    
    = paginate @problems
