%h1
  = t('.problems')

.row
  .span6
    %table.table.table-striped#problems
      %thead
        %tr
          %th{:title => 'Difficulty and Success rate'}
            = link_to problems_path(:column=> 'level', :order => @sort['level']), :title => 'Order by difficulty' do
              %i.icon-flag
          %th
            = link_to 'Name', problems_path(:column=> 'name', :order => @sort['name']), :title => 'Order by name'
            \/
            = link_to 'Date', problems_path(:column=> 'date', :order => @sort['date']), :title => 'Order by date'
          %th{:width => "1%"}
      %tbody
        - @problems.each do |problem|
          %tr
            %td
              = '%.3f' % problem.point
              .muted{:title => 'Success rate'} #{problem.success_rate}%
            %td
              = link_to problem.name, problem
              .muted= l problem.created_at, :format=>:date
            %td
              .magnify.muted= problem_solution_state problem
    = paginate @problems
