<h1>Бодлогууд</h1>

  <% if @problems.size > 0 %>
    <%= will_paginate @problems, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
    <table id="problems">
      <tr>
        <th>ID</th>
        <th><%= link_to 'Нэр', :order=> 'name' %></th>
        <th><%= link_to 'Оноо', :order=> 'level' %></th>
        <th><%= link_to 'Дэвшүүлсэн', :order=> 'user_id' %></th>
        <th><%= link_to 'Огноо', :order=> 'created_at' %></th>
        <th>Бодолт<br />
	  <%= link_to 'Нийт', :order=> 'tried_count' %> /
          <%= link_to 'Зөв', :order=> 'solved_count' %>
	</th>
      </tr>

      <% for problem in @problems %>
        <tr <%= 'class="already" title="Бодчихсон"' if @solved.include?(problem.id) %>>
          <td><%= problem.id %></td>
          <td><%= link_to problem.name, problem %></td>
          <td><%= problem.level %></td>
          <td><%= problem.user.login %></td>
          <td><%=l problem.created_at %></td>
          <td><%= problem.tried_count %> / <%= problem.solved_count %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @problems, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
  <% else %>
    Бодлого алга!
  <% end %>

