.row
  .span12
    %h2
      = @problem.name
.row
  .span3.profile
    .media
      = image_tag(@problem.user.gravatar_url(:size => 64), :class => "img-polaroid pull-left")
      .media-body
        Posted by
        = link_to @problem.user.login, @problem.user
        - if @problem.contest
          %br
          for
          = link_to @problem.contest.name, @problem.contest
    %hr
    %dl
      %dt
        %i.icon-flag
      %dd
        %span.muted Difficulty
        = @problem.level
    %dl
      %dt
        %i.icon-time
      %dd
        %span.muted Time limit
        = @problem.time
    %dl
      %dt
        %i.icon-hdd
      %dd
        %span.muted Memory Limit
        = @problem.memory
    %dl
      %dt
        %i.icon-cogs
      %dd
        %span.muted Tests
        = @problem.tests.size
    %hr
    = link_to new_solution_path(:problem => @problem.id), :class => 'btn btn-primary btn-large btn-block' do
      %i.icon-check
      Solve
    %h3.list-heading
      .inner
        %i.icon-wrench
    .btn-group
      - if can? :update, @problem
        = link_to edit_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-wrench
          Засвар
      - if can? :update, @problem
        = link_to @problem, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small' do
          %i.icon-trash
          Устгах
      - if can? :check, @problem
        = link_to check_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-repeat
          Дахин шалгах

  .span7
    %ul.nav.nav-tabs#problem-tabs
      %li.active
        %a{'href' => "#problem-text"}
          %i.icon-question-sign
          Бодлого
      %li
        %a{'href' => "#best-solution", 'data-link' => best_solution_path(:problem_id=>@problem.id)}
          %i.icon-dashboard
          Шилдэг бодолт
      %li
        %a{'href' => "#all-solutions", 'data-link' => submited_solution_path(:problem_id=>@problem.id)}
          %i.icon-book
          Нийт бодолт
      %li
        %a{'href' => "#correct-solutions", 'data-link' => solved_solution_path(:problem_id=>@problem.id)}
          %i.icon-question-sign
          Зөв бодолт
 
    .tab-content
      .tab-pane.active#problem-text
        = markdown @problem.text
        = content_tag(:span, 'Эх сурвалж: ' + h(@problem.source), :class => 'problem-source') if !@problem.source.empty?
        = render :partial => 'comments/commentable', :object => @problem
      .tab-pane#best-solution
      .tab-pane#all-solutions
      .tab-pane#correct-solutions
    
