%h1
  = @problem.name
.subhead
  - if @problem.contest
    != t '.contest', :contest => link_to(@problem.contest.name, @problem.contest), :author => link_to(@problem.user.login, @problem.user)
  - else
    != t '.author', :author => link_to(@problem.user.login, @problem.user)
.row
  .span3.profile
    = render :partial => 'problems/profile', :locals => {:problem => @problem}
    %h3.list-heading
      .inner
        %i.icon-wrench
    .btn-group
      - if can? :update, @problem
        = link_to edit_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-wrench
          = t 'button.edit'
      - if can? :destroy, @problem
        = link_to @problem, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small' do
          %i.icon-trash
          = t 'button.delete'
      - if can? :check, @problem
        = link_to check_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-repeat
          = t 'button.recheck'
    - if current_user
      %h3.list-heading
        .inner
          %i.icon-user
          = t '.my_solution'
      - if @solution
        = render(:partial => 'results/list')
      - else
        = link_to submit_path(@contest, @problem, current_user), :class=>"btn btn-large btn-block" do
          %i.icon-upload
          = t 'button.submit'
    %hr
  .span6
    %ul.nav.nav-tabs#problem-tabs
      %li.active
        %a{'href' => "#problem-text"}
          %i.icon-question-sign
          = t '.statement'
      %li
        %a{'href' => "#solutions-tab", 'data-link' => submited_solution_path(:problem_id=>@problem.id)}
          %i.icon-upload
          = t '.submissions'
    .tab-content
      .tab-pane.active#problem-text
        %section
          = markdown @problem.text
          - if !@problem.source.blank?
            .muted.problem-source= t '.source', :source => h(@problem.source)

        %section
          = render :partial => 'comments/commentable', :object => @problem
      .tab-pane#solutions-tab
