%h1
  = @problem.name
.subhead
  Posted by #{link_to @problem.user.login, @problem.user}
  - if @problem.contest
    for #{link_to @problem.contest.name, @problem.contest}
.row
  .span3.profile
    %dl
      %dt
        %i.icon-flag
      %dd
        %span.muted Difficulty
        = @problem.level
    %dl
      %dt
        %i.icon-time
      %dd
        %span.muted Time limit
        = @problem.time
        sec
    %dl
      %dt
        %i.icon-hdd
      %dd
        %span.muted Memory Limit
        = @problem.memory
        bytes
    %dl
      %dt
        %i.icon-cogs
      %dd
        %span.muted Tests
        = @problem.tests.size

    %h3.list-heading
      .inner
        %i.icon-wrench
    .btn-group
      - if can? :update, @problem
        = link_to edit_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-wrench
          Edit
      - if can? :destroy, @problem
        = link_to @problem, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-small' do
          %i.icon-trash
          Delete
      - if can? :check, @problem
        = link_to check_problem_path(@problem), :class => 'btn btn-small' do
          %i.icon-repeat
          Recheck

    %hr
    = link_to new_solution_path(:problem => @problem.id), :class => 'btn btn-primary btn-large btn-block' do
      %i.icon-upload
      Submit solution
    %hr

  .span7
    %ul.nav.nav-tabs#problem-tabs
      %li.active
        %a{'href' => "#problem-text"}
          %i.icon-question-sign
          Problem
      %li
        %a{'href' => "#solutions-tab", 'data-link' => submited_solution_path(:problem_id=>@problem.id)}
          %i.icon-upload
          Submissions
    .tab-content
      .tab-pane.active#problem-text
        %section
          = markdown @problem.text
          = content_tag(:span, 'Эх сурвалж: ' + h(@problem.source), :class => 'problem-source') if !@problem.source.empty?

        %section
          = render :partial => 'comments/commentable', :object => @problem
      .tab-pane#solutions-tab
    
