%table.table.table-hover.table-striped.table-bordered{:width => "100%"}
  %thead
    %tr
      %th{:width => "1%"}
      %th Нэр
      %th.center{:title => 'Points'}
        %i.icon-check
      %th.center{:title => 'Time'}
        %i.icon-time
      %th.center{:title => 'Memory'}
        %i.icon-hdd
      %th Огноо
  %tbody
    - @problems.each do |p|
      %tr
        %td= p.id
        %td= link_to p.name, p
        %td.center= p.level
        %td.center
          = p.time
          сек
        %td.center
          = p.memory
          кб
        %td= l p.created_at
