%table.table.table-hover.table-striped.table-bordered
  %thead
    %tr
      %th{:width => "1%"}
      %th 
        - if @user == current_user
          = link_to new_problem_path, :class => 'btn btn-small' do
            %i.icon-plus-sign
            = t '.new'
      %th.center{:title => t('common.points')}
        %i.icon-check
      %th.center{:title => t('common.time_limit')}
        %i.icon-time
      %th.center{:title => t('common.memory_limit')}
        %i.icon-hdd
      %th= t 'title.date'
  %tbody
    - @user.problems.each do |p|
      %tr
        %td= p.id
        %td= link_to p.name, p
        %td.center= p.level
        %td.center
          = p.time
          = t('common.unit_time')
        %td.center
          = p.memory
          = t('common.unit_memory')
        %td= l p.created_at
