<table width="100%">
  <tr>
    <th width="1%"></th>
    <th>Нэр</th>
    <th class="center"><img src="/images/points.png" title="Оноо"/></th>
    <th class="center"><img src="/images/average.png" title="Хугацаа" /></th>
    <th class="center"><img src="/images/memory.png" title="Санах ой" /></th>
    <th>Огноо</th>
  </tr>
  <% for p in @problems%>
  <tr>
    <td><%= p.id %></td>
    <td><%= link_to p.name, p %></td>
    <td class="center"><%= p.level %></td>
    <td class="center"><%= p.time %>сек</td>
    <td class="center"><%= p.memory %>кб</td>
    <td><%=l p.created_at %></td>
  </tr>
  <% end %>
</table>
