%table.table.table-hover.table-striped.table-bordered
  %thead
    %tr
      %th{:width => "1%"}
      %th 
        - if @user == current_user
          = link_to new_problem_path, :class => 'btn btn-small' do
            %i.icon-plus-sign
            Бодлого дэвшүүлэх
      %th.center{:title => 'Points'}
        %i.icon-check
      %th.center{:title => 'Time'}
        %i.icon-time
      %th.center{:title => 'Memory'}
        %i.icon-hdd
      %th Огноо
  %tbody
    - @user.problems.each do |p|
      %tr
        %td= p.id
        %td= link_to p.name, p
        %td.center= p.level
        %td.center
          = p.time
          сек
        %td.center
          = p.memory
          кб
        %td= l p.created_at

