.row#content
  .span3#profile-vcard
    = link_to 'http://gravatar.com/emails/' do
      = image_tag(@user.gravatar_url(:size => 210), :class => "img-polaroid avatar-large", 'data-toggle' => :tooltip, 'data-placement' => :bottom, :title => t('.change-gravatar'))
  .span4
    = form_for @user, :url => user_path, :class => 'form-horizontal' do |f|
      %fieldset
        %legend
          %h3
            %i.icon-wrench
            = t '.update-profile'
        .control-group
          = f.label :login, t('.login'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-user
              = f.text_field :login, :class => "span3"
        .control-group
          = f.label :email, t('.email'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-envelope
              = f.text_field :email, :class => "span3"
        .control-group
          = f.label :twitter, t('.twitter'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-twitter
              = f.text_field :twitter, :class => "span3", :placeholder => "@yourname"
        .control-group
          = f.label :web, t('.web'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-globe
              = f.text_field :web, :class => "span3", :placeholder => "http://your.web.url"

        .control-group
          = f.label :password, t('.change-password'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-key
              = f.password_field :password, :placeholder => "******", :class => "span3"
        .control-group
          = f.label :password_confirmation, t('.repeat-password'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-key
              = f.password_field :password_confirmation, :placeholder => "******", :class => "span3"
        .control-group
          = f.label :school, t('.organization'), :class => 'control-label'
          .controls
            .input-prepend
              %span.add-on
                %i.icon-group
              = f.text_field :school, :class => "span3", :autocomplete => "off", :data => {:provide =>"typeahead", :source => school_names.to_json}
          .control-group
          .controls
            %label.checkbox
              = f.check_box :notify_new_contests
              = t '.inform-new-contest'
        .control-group  
          .controls
            = f.submit t('button.save'), :class => 'btn btn-primary'
