<h1>Хэрэглэгчдийн жагсаалт</h1>

<%= will_paginate @users, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>

<table>
  <tr>
    <th colspan="6" class="level-legend">
      <%= levels_legend :span %>
    <th>
  </tr>
  <tr>
    <th width='1%'>Ранк</th>
    <th>ID</th>
    <th>Сургууль/ <br /> Байгууллага</th>
    <th width='60'>Нийт <br /> оноо</th>
    <th width='1%'>Дундаж хугацаа</th>
    <th width='1%'>Бодсон бодлого</th>
    <th>Сүүлд бодсон</th>
  </tr>
<% no = (((params[:page] || 1).to_i) - 1 ) * 100
   for user in @users
   no += 1%>
  <tr>
    <td><%= no %></td>
    <td><%= link_to user.login, user, :class=>"rank_#{user.level}" %></td>
    <td><%= white_list(truncate(user.school,35)) %></td>
    <td><%= "%.2f" % user.points if !user.points.nil? %></td>
    <td><%= sec2milisec user.avg if !user.avg.nil? %></td>
    <td><%= user.solution_count %></td>
    <td class='small'><%= user.last_access %></td>
  </tr>
<% end %>
  <tr>
    <th colspan="6" class="level-legend">
      <%= levels_legend :span %>
    <th>
  </tr>
</table>
<%= will_paginate @users,:class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>

