<h1>Кодерууд</h1>

<%= will_paginate @users, :class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>

<table id="all-rank">
  <tr>
    <th colspan="6" class="level-legend">
      <%= levels_legend :span %>
    </th>
  </tr>
  <tr>
    <th width='1%'></th>
    <th></th>
    <th>Сургууль/Байгууллага</th>
    <th width='60'>Нийт оноо</th>
    <th width='1%'>Бодсон бодлого</th>
    <th>Сүүлийн бодолт</th>
  </tr>
  <% @users.each_with_index do |user, i| %>
  <tr>
    <td class="ranking"><%= i + 1 + @users.offset %></td>
    <td><%= link_to user.login, user, :class=>"rank_#{user.level}" %></td>
    <td><%= truncate(strip_tags(user.school), :length => 35) %></td>
    <td><%= "%.3f" % user.points %></td>
    <td><%= user.solutions_count %></td>
    <td><%=l(user.uploaded_at) if user.uploaded_at %></td>
  </tr>
  <% end %>
  <tr>
    <th colspan="6" class="level-legend">
      <%= levels_legend :span %>
    <th>
  </tr>
</table>
<%= will_paginate @users,:class=>'apple_pagination', :prev_label => '&laquo; Өмнөх', :next_label   => 'Дараах &raquo;' %>
