.row
  .span3.profile
    %p.text-center#profile-vcard
      = link_to 'http://gravatar.com/emails/' do
        = image_tag(@user.gravatar_url(:size => 196), :class => "img-circle", 'data-toggle' => :tooltip, 'data-placement' => :bottom, :title => t('.change-gravatar'))
    %h3.text-center= @user.login
    - if @user == current_user
      %p.text-center
        = link_to edit_user_path(@user) do
          %button.btn.btn-mini
            %i.icon-pencil
            = t '.update-profile'
    %h3.list-heading
      .inner
        %i.icon-trophy
        = t '.medals'
    .row
      - medal_counts(@user).each do |s|
        .span1.text-center
          %h2
            = standing(s.rank)
            = s[:count]
          .muted
            = t(medal_name(s.rank), :scope => 'label.standing')
    %h3.list-heading
      .inner
        %i.icon-star
        = t '.achievements'
    %dl
      %dt
        %i.icon-dashboard.muted
      %dd
        %span.muted #{t '.total-points'}:
        = show_point @user.points
    %dl
      %dt
        %i.icon-cogs.muted
      %dd
        %span.muted #{t '.posted-solutions'}:
        = @user.solutions_count
    %dl
      %dt
        %i.icon-time.muted
      %dd
        %span.muted #{t '.joined'}
        = l @user.created_at.to_date
    %dl
      %dt
        %i.icon-eye-open.muted
      %dd
        %span.muted #{t '.last-seen'}
        - if submitted_at = @user.submitted_at
          = l submitted_at.to_date
        - else
          = t '.never'

    %h3.list-heading
      .inner
        %i.icon-link
        = t '.connect'
    - if @user.school.present?
      %dl
        %dt
          %i.icon-group.muted
        %dd= strip_tags @user.school
    - if @user.web.present?
      %dl
        %dt
          %i.icon-globe.muted
        %dd= link_to @user.web, @user.web
    - if @user.twitter.present?
      %dl
        %dt
          %i.icon-twitter.muted
        %dd= link_to_twitter @user.twitter
    %hr
  .span7
    %ul.nav.nav-tabs#profile-tabs
      %li.active
        %a{'href' => "#participant-of"}
          %i.icon-trophy
          = t 'title.contest'
      %li
        %a{'href' => "#solved-problems", 'data-delegate' => '#solutions-flow'}
          %i.icon-ok-sign
          = t 'title.solution'
      %li
        %a{'href' => "#posts", 'data-link' => user_posts_path(@user)}
          %i.icon-book
          = t 'title.post'
      %li
        %a{'href' => "#composed-problem", 'data-link' => problems_user_path(@user)}
          %i.icon-question-sign
          = t 'title.problem'

    .tab-content
      .tab-pane.active#participant-of
        %table.table.table-hover.table-striped.table-bordered
          %thead
            %tr
              %th= t '.contests'
          %tbody
            - @standings.each do |s|
              %tr
                %td
                  %strong= standing(s.rank)
                  = link_to s.contest.name, s.contest
                  %span.muted.pull-right= l s.contest.start.to_date

      .tab-pane#solved-problems
        %table.table.table-hover.table-striped.table-bordered#user-solutions
          %tbody
            = render :partial => 'users/solution', :collection =>@solutions
        = link_to solutions_user_path(@user), :class => 'btn btn-large btn-block page-flow', :id => 'solutions-flow', :data => {:page => 1, :flow => '#user-solutions'} do
          %i.icon-circle-arrow-down

      .tab-pane#posts
      .tab-pane#composed-problem
