.row#content
  .span3#profile-vcard
    = link_to 'http://gravatar.com/emails/' do
      = image_tag(@user.gravatar_url(:size => 210), :class => "img-polaroid", 'data-toggle' => :tooltip, 'data-placement' => :bottom, :title => "Change your avatar at Gravatar.com")
    %h3= @user.login
    %hr
    != medal_list(@standings)
    %hr
    .profile
      - if @user.school.present?
        %dl
          %dt
            %i.icon-group.muted
          %dd= strip_tags @user.school
      - if @user.web.present?
        %dl
          %dt
            %i.icon-link.muted
          %dd= link_to @user.web, @user.web
      - if @user.twitter.present?
        %dl
          %dt
            %i.icon-twitter.muted
          %dd= link_to_twitter @user.twitter
      %dl
        %dt
          %i.icon-flag.muted
        %dd
          %span.muted Level/Point
          = @user.level
          \/
          = @user.points.nil? ? 0 : ("%.2f" % @user.points)
      %dl
        %dt
          %i.icon-time.muted
        %dd
          %span.muted Joined on
          = l @user.created_at, :format => :date
      %dl
        %dt
          %i.icon-eye-open.muted
        %dd
          %span.muted Last seen
          = l @user.uploaded_at, :format => :date
  .span7
    %ul.nav.nav-tabs#profile-tabs
      %li.active
        %a{'data-target' => "#participant-of"}
          %i.icon-trophy
          Оролцсон тэмцээн
      %li
        %a{'data-target' => "#solved-problems", 'data-link' => solutions_user_path(@user)}
          %i.icon-ok-sign
          Бодолтууд
      %li
        %a{'data-target' => "#lessons-written", 'data-link' => lessons_user_path(@user)}
          %i.icon-book
          Бичсэн хичээл
      %li
        %a{'data-target' => "#composed-problem", 'data-link' => problems_user_path(@user)}
          %i.icon-question-sign
          Дэвшүүлсэн бодлого
 
    .tab-content
      .tab-pane.active#participant-of
        %table.table.table-bordered
          %tr
            %th Байр
            %th Тэмцээн
            %th Огноо
          - @standings.each do |c,s|
            %tr
              %td.ranking= standing(s)
              %td= link_to c.name, c
              %td= l c.start

      .tab-pane#solved-problems
      .tab-pane#lessons-written
      .tab-pane#composed-problem
