.row
  .span3.profile
    %p.text-center#profile-vcard
      = link_to 'http://gravatar.com/emails/' do
        = image_tag(@user.gravatar_url(:size => 196), :class => "img-circle", 'data-toggle' => :tooltip, 'data-placement' => :bottom, :title => "Change your avatar at Gravatar.com")
    %h3.text-center= @user.login
    %h3.list-heading
      .inner
        %i.icon-trophy
        Awards
    .row
      - medal_list(@standings).each do |num, count|
        .span1.text-center
          %h2
            = standing(num)
            = count
          .muted
            = t(medal_name(num), :scope => 'label.standing')

    %h3.list-heading
      .inner
        %i.icon-star-empty
        Achievements
    %dl
      %dt
        %i.icon-dashboard.muted
      %dd
        %span.muted Total points:
        = @user.points.nil? ? 0 : ("%.2f" % @user.points)
    %dl
      %dt
        %i.icon-cogs.muted
      %dd
        %span.muted Posted solutions:
        = @user.solutions_count
    %dl
      %dt
        %i.icon-flag.muted
      %dd
        %span.muted Reached level:
        = @user.level
    %dl
      %dt
        %i.icon-time.muted
      %dd
        %span.muted Joined on
        = l @user.created_at, :format => :date
    %dl
      %dt
        %i.icon-eye-open.muted
      %dd
        %span.muted Last seen
        = l @user.uploaded_at, :format => :date

    %h3.list-heading
      .inner
        %i.icon-link
        Connect
    - if @user.school.present?
      %dl
        %dt
          %i.icon-group.muted
        %dd= strip_tags @user.school
    - if @user.web.present?
      %dl
        %dt
          %i.icon-globe.muted
        %dd= link_to @user.web, @user.web
    - if @user.twitter.present?
      %dl
        %dt
          %i.icon-twitter.muted
        %dd= link_to_twitter @user.twitter

    - if @user == current_user
      %hr
      = link_to edit_user_path(@user) do
        %button.btn.btn-small.btn-primary
          %i.icon-pencil
          Update profile

  .span7
    %ul.nav.nav-tabs#profile-tabs
      %li.active
        %a{'href' => "#participant-of"}
          %i.icon-trophy
          Тэмцээн
      %li
        %a{'href' => "#solved-problems", 'data-delegate' => '#solutions-flow'}
          %i.icon-ok-sign
          Бодолтууд
      %li
        %a{'href' => "#lessons-written", 'data-link' => lessons_user_path(@user)}
          %i.icon-book
          Хичээл
      %li
        %a{'href' => "#composed-problem", 'data-link' => problems_user_path(@user)}
          %i.icon-question-sign
          Бодлого
 
    .tab-content
      .tab-pane.active#participant-of
        %table.table.table-hover.table-striped.table-bordered
          %thead
            %tr
              %th Оролцсон тэмцээн
          %tbody
            - @standings.each do |c,s|
              %tr
                %td
                  %strong= standing(s)
                  = link_to c.name, c
                  %span.muted.pull-right= l c.start, :format => :date

      .tab-pane#solved-problems
        %table.table.table-hover.table-striped.table-bordered#user-solutions
          %tbody
            = render :partial => 'users/solution', :collection =>@solutions
        = link_to solutions_user_path(@user), :class => 'btn btn-large btn-block page-flow', :id => 'solutions-flow', :data => {:page => 1, :flow => '#user-solutions'} do
          %i.icon-circle-arrow-down

      .tab-pane#lessons-written
      .tab-pane#composed-problem
