.jumbotron.masthead
  .container
    %h1= Settings.name
    %p= Settings.description
.container
  .marketing
    .row-fluid.stats-row
      .span3
        %span.bignum= number_with_delimiter Stats.problems, delimiter: ','
        %hr.soften.divider
        %i.icon-puzzle-piece.x6.stats-icon
        %span.stats-label problems
        %hr.soften.divider
      .span3
        %span.bignum= number_with_delimiter Stats.compilations, delimiter: ','
        %hr.soften.divider
        %i.icon-cogs.x6.stats-icon
        %span.stats-label compilations
        %hr.soften.divider
      .span3
        %span.bignum= number_with_delimiter Stats.runs, delimiter: ','
        %hr.soften.divider
        %i.icon-rocket.x6.stats-icon
        %span.stats-label test runs
        %hr.soften.divider
      .span3
        %span.bignum= number_with_delimiter Stats.points, delimiter: ','
        %hr.soften.divider
        %i.icon-dashboard.x6.stats-icon
        %span.stats-label total points
        %hr.soften.divider

    %h1 Supported Languages
    %p.marketing-byline
      Here are great languages we support.
      You can solve problems using any of these languages.
    .row
      - Language.all.each do |language|
        .span2.language-panel
          .well.language-logo
            %h2.name= language.name
            %hr.soften.divider
            = language.description
    %hr.soften/
    %h1 Judges
    %p.marketing-byline
      Team of judges answering questions of any kind.
    .row-fluid
      %ul
        - User.moderators.each do |user|
          %li.span2
            = image_tag user.gravatar_url(:size => 128), :alt => user.login, :class => 'img-circle'
            %br
            = link_to user.login, user
            %br
            - unless user.twitter.blank?
              = link_to "http://twitter.com/#{user.twitter}" do
                %i.icon-twitter
            - unless user.web.blank?
              = link_to user.web do
                %i.icon-globe
    %hr.soften/
    %h1 Powered by Prudge
    %p.marketing-byline
      Need your own contest judge site? Use
      %a{:href => "https://github.com/ochko/prudge"}Prudge
      for free.
    .row-fluid
      .span12
        %h2 It is by coders, for coders.
        %i.icon-twitter.x6
        %i.icon-github.x6
        %p
          Built by
          %a{:href => "https://github.com/ochko"} @ochko
          and
          %a{:href => "https://github.com/ochko/prudge"} others.
          Prudge utilizes
          %a{:href => "http://rubyonrails.org"} Ruby on Rails
          and
          %a{:href => "http://http://twitter.github.io/bootstrap/"} Bootstrap
          and is managed through
          %a{:href => "http://github.com"} GitHub
          to help coders solve problems on the web.
    .prudge-social
      .container
        %ul.prudge-social-buttons
          %li
            %iframe.github-btn{:allowtransparency => "true", :frameborder => "0", :height => "20px", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=ochko&repo=prudge&type=watch&count=true", :width => "100px"}
          %li
            %iframe.github-btn{:allowtransparency => "true", :frameborder => "0", :height => "20px", :scrolling => "0", :src => "http://ghbtns.com/github-btn.html?user=ochko&repo=prudge&type=fork&count=true", :width => "102px"}
          %li.follow-btn
            %a.twitter-follow-button{"data-link-color" => "#0069D6", "data-show-count" => "true", :href => "https://twitter.com/ochko"} Follow @ochko
          %li.tweet-btn
            %a.twitter-share-button{"data-count" => "horizontal", "data-related" => "mdo:prudge", "data-url" => "https://github.com/ochko/prudge", "data-via" => "ochko", :href => "https://twitter.com/share"} Tweet
