%h1
  Dashboard
  %small
    Manage the site

%section
  .row
    .span3
      = link_to proposed_problems_path, :class => 'btn btn-large btn-block' do
        %i.icon-question-sign
        Дэвшигдсэн бодлогууд
      = link_to latest_solutions_path, :class => 'btn btn-large btn-block' do
        %i.icon-cloud-download
        Сүүлийн бодолтууд
      = link_to new_page_path, :class => 'btn btn-large btn-block' do
        %i.icon-bullhorn
        Шинэ мэдээ
      = link_to new_topic_path, :class => 'btn btn-large btn-block' do
        %i.icon-comment
        Шинэ хэлэлцүүлэг
      = link_to moderate_comments_path, :class => 'btn btn-large btn-block' do
        %i.icon-comment
        Хэлэлцүүлэг Хянах
      = link_to new_contest_path, :class => 'btn btn-large btn-block' do
        %i.icon-trophy
        Шинэ тэмцээн зарлах
