%h1
  = t('.dashboard')
  %small
    = t('.manage_the_site')

%section
  .row
    .span3
      = link_to proposed_problems_path, :class => 'btn btn-large btn-block' do
        %i.icon-question-sign
        = t '.proposed_problems'
      = link_to latest_solutions_path, :class => 'btn btn-large btn-block' do
        %i.icon-cloud-download
        = t '.latest_solutions'
      = link_to new_post_path, :class => 'btn btn-large btn-block' do
        %i.icon-comment
        = t '.new_post'
      = link_to comments_path, :class => 'btn btn-large btn-block' do
        %i.icon-comment
        = t '.moderate_comments'
      = link_to new_contest_path, :class => 'btn btn-large btn-block' do
        %i.icon-trophy
        = t '.new_contest'
