%section#result-content
  %p
    .btn-group
      - if can? :check, @solution
        = link_to check_solution_path(@solution), :id=>'check-button', :class=>"btn btn-small" do
          %i.icon-cogs
          = t 'button.run'
      - if can? :update, @solution
        = link_to edit_solution_path(@solution), :class=>"btn btn-small" do
          %i.icon-wrench
          = t 'button.edit'
        = link_to @solution, :confirm => t('.delete?'), :method => :delete, :class=>"btn btn-small" do
          %i.icon-trash
          = t 'button.delete'
      - elsif current_user.owns? @solution
        = link_to submit_path(@contest, @solution.problem, current_user), :class=>"btn btn-small" do
          %i.icon-upload
          = t 'button.submit'
        = link_to @solution, :class=>"btn btn-small", :id => 'open-solution' do
          %i.icon-share-alt
          = t 'button.open'
        = link_to download_solution_path(@solution), :class=>"btn btn-small" do
          %i.icon-download
          = t 'button.download'

  .row-fluid
    .span12.profile
      %dl
        %dt
          %i.icon-user
        %dd
          %span.muted= t '.coder'
          = link_to @solution.user.login, @solution.user
      %dl
        %dt
          %i.icon-file-alt
        %dd
          %span.muted= t '.source'
          = link_to squeeze(@solution.source_file_name, 10), view_solution_path(@solution), :title => @solution.source_file_name
      %dl
        %dt
          %i.icon-upload
        %dd
          %span.muted= t '.submitted'
          = l @solution.source_updated_at
      %dl
        %dt
          %i.icon-time
        %dd
          %span.muted= t '.avg-time'
          = @solution.time
          %abbr{:title => 'Milliseconds'} ms
      %dl
        %dt
          %i.icon-plus-sign
        %dd
          %span.muted= t '.taken-points'
          = @solution.point

  - if @solution.judged?
    .row-fluid
      .span12.text-center#solution-percent
        .progress-cirque{:data => {:value => @solution.percent * 100}}
    - unless @solution.junk.blank?
      .row-fluid
        .span12
          .alert.alert-block
            %button.button{:class=>"close", 'data-dismiss'=>"alert"}
              %i.icon-remove-circle
            %h4
              %storng= t('.compiler_output')
            %p!= @solution.junk
    .row-fluid
      .span12
        %table.table.table-bordered
          %thead
            %tr
              %th{title: 'Test number'}
              %th{title: 'Test hidden/shown'}
              %th{title: t('.run-status')}
                %i.icon-cog
              %th{title: t('.run-time')}
                %i.icon-time
              %th{title: t('.run-memory')}
                %i.icon-hdd
              %th{title: 'Test passed?'}
          %tbody
            - @solution.results.each_with_index do |result, index|
              %tr
                %td= index + 1
                %td= render_viewable(result.hidden)
                %td= translate_message(result.execution)
                %td= sec2milisec(result.time)
                %td= result.memory
                %td= link_to(show_correctness(result.correct?), [@solution, result])
  - elsif @solution.submitted?
    .row-fluid
      .span12.text-center#solution-percent
        %i.muted.icon-spin.icon-spinner#check-wait
        %p.lead= t('.wait-checking')
