<h2>Хуудас үүсгэх</h2>

<%= form_tag :action => 'create' do %>
<%= error_messages_for @page %>
<div class="bigger-inputs span-20">
  <select name="page[category]">
    <option value="news">Мэдээ</option>
    <option value="help">Тусламж</option>
    <option value="rule">Дүрэм</option>
  </select>
  <%= text_field 'page', 'title'  %>
</div>
<%= text_area('page', 'content') %>
<%= submit_tag "Үүсгэ" %>
<% end %>
<div id="preview"> </div>
