<% if test.id %>
  <tr id="test-<%=test.id%>">
    <td><%= render_viewable(test.hidden) %></td>
    <td class="test-actions">
      <%= link_to image_tag('test-open.png'), test %>
      <%= link_to image_tag('edit.png'), :action => 'edit', :id => test %>
      <%= link_to image_tag('delete.png'), test, :remote => true, :method => :delete, :confirm => "Тэстийг устгах уу?" %>
    </td>
  </tr>
<% end %>
