%h2
  = link_to @problem.name, @problem
  %small= t('.add_new_test')
.row
  .span3.profile
    = render partial: 'problems/profile', locals: {problem: @problem}

%h3= t('.new_test')
= error_messages_for @problem_test
.row
  .span4
    = form_for @problem_test, :url => problem_tests_path(@problem), :method => :post do |form|
      %label.control-label= t('.input')
      .controls
        = form.file_field :input, :class => 'input-medium'
      %label.control-label= t('.output')
      .controls
        = form.file_field :output, :class => 'input-medium'
      .controls
        %label.checkbox
          = form.check_box :hidden
          = t('.this_is_hidden_test')
        %button.btn.btn-primary{:type => 'submit'}
          %i.icon-save
          = t('.save')
