%h2
  = link_to @problem.name, @problem

.row
  .span3.profile
    = render partial: 'problems/profile', locals: {problem: @problem}

%h2
  = t '.test'
  %span.muted= render_viewable(@problem_test.hidden)
  .btn-group
    = link_to problem_tests_path(@problem), :class => 'btn btn-small' do
      = t '.other'
    = link_to problem_test_path(@problem, @problem_test), :method => :delete, :confirm => t('.delete?'), :class => 'btn btn-small' do
      %i.icon-trash
      = t 'button.delete'

.row
  .span3
    %h4
      = t '.input'
      = link_to input_problem_test_path(@problem, @problem_test), :class => 'btn btn-small' do
        %i.icon-download-alt
        = t 'button.download'
    %pre.io= @problem_test.input_head    

  .span3
    %h4
      = t '.output'
      = link_to output_problem_test_path(@problem, @problem_test), :class => 'btn btn-small' do
        %i.icon-download-alt
        = t 'button.download'
    %pre.io= @problem_test.output_head
