- @lessons.each do |lesson|
  %h2
    = lesson.title
  .subhead
    Posted on
    \#{l lesson.updated_at, :format => :date}
    by #{link_to lesson.author.login, lesson.author}
    = link_to lesson, :class => 'btn btn-mini pull-right' do
      Read more
      %i.icon-share-alt

  %section
    = simple_format truncate(strip_tags(lesson.text), :length => 300)

= paginate @lessons