- @lessons.each do |lesson|
  %h2
    = link_to lesson.title, lesson
  .subhead
    Posted on #{l lesson.updated_at, :format => :date}
    by #{link_to lesson.author.login, lesson.author}

  %section
    = simple_format truncate(strip_tags(lesson.text), :length => 300)
    = link_to lesson, :class => 'btn btn-mini' do
      %i.icon-arrow-right
      Read more

= paginate @lessons