.row
  .span12
    .media
      = link_to @lesson.author, :class => "pull-left" do
        = image_tag @lesson.author.gravatar_url(:size => 64), :class => 'img-circle'
      .media-body
        %h2.media-heading
          = @lesson.title
        .subhead
          Posted on
          =l @lesson.updated_at, :format => :date
          by #{link_to @lesson.author.login, @lesson.author}
    %section
      = markdown @lesson.text

%section
  = render :partial => 'comments/commentable', :object => @lesson
    
