%table.table.table-bordered
  %thead
    %tr
      %th
        - if @user == current_user
          = link_to new_post_path, :class => 'btn btn-small pull-right' do
            %i.icon-plus-sign
            = t('.new_post')
  %tbody
    - @posts.each do |post|
      %tr
        %td
          %p.lead
            = link_to post.title, post
          %span.muted
            = t('.posted_on')
            = l post.updated_at.to_date
          = link_to edit_post_path(post), :class => 'btn btn-mini pull-right' do
            %i.icon-pencil
            = t('.edit')
