%header
  %h1
    = t('.help')
.row
  .span3.prudge-sidebar
    %ul.nav.nav-list.prudge-sidenav
      - @posts.each do |post|
        %li
          %a{:href => "#help-#{post.id}"}
            %i.icon-chevron-right
            = post.title
  .span9
    - @posts.each do |post|
      %section{:id => "help-#{post.id}"}
        %h2= post.title
        ~ markdown post.body
