%h2= t('.write_new_post')

%section
  = form_for @post do |form|
    .row
      .span8
        = error_messages_for @post
        = form.text_field :title, :class => 'input-block-level'
    .row
      .span8
        = render partial: 'markdown/edit', locals: {object: 'post', attribute: 'body'}

        %button.btn.btn-primary{:type=> :submit}
          %i.icon-save
          = t('.save')
