.account-container.login.stacked
  .content.clearfix
    = form_for @user_session, :url => user_session_path do |f|
      %h1
        Sign in to #{Settings.name}
      .login-fields
        %p= t('.sign_in_using_your_registered_')
        .field
          .input-prepend
            %span.add-on
              %i.icon-user
            = f.text_field :login, :placeholder => "Username", :class => 'input-block-level'
        .field
          .input-prepend
            %span.add-on
              %i.icon-key
            = f.password_field :password, :placeholder => "Password", :class => 'input-block-level'
      .login-actions
        %button.button.btn.btn-primary
          %i.icon-off
          = t('.sign_in')

      .login-social.hide
        %p= t('.sign_in_using_social_network:')
        %a.btn.btn-small{:href => "#"}
          %i.icon-twitter
          = t('.login_with_twitter')
        %a.btn.btn-small{:href => "#"}
          %i.icon-facebook
          = t('.login_with_facebook')

.login-extra
  Don't have an account? #{link_to 'Sign Up', signup_path}
  %br/
  Remind #{link_to 'Password', forgot_password_path}
