.account-container.login.stacked
  .content.clearfix
    = form_for @user_session, :url => user_session_path do |f|
      %h1
        Sign in to #{Settings.name}
      .login-fields
        %p Sign in using your registered account:
        .field
          .input-prepend
            %span.add-on
              %i.icon-user
            = f.text_field :login, :placeholder => "Username", :class => 'input-block-level'
        .field
          .input-prepend
            %span.add-on
              %i.icon-key
            = f.password_field :password, :placeholder => "Password", :class => 'input-block-level'
      .login-actions
        %button.button.btn.btn-primary
          %i.icon-off
          Sign In

      .login-social
        %p Sign in using social network:
        %a.btn.btn-small{:href => "#"}
          %i.icon-twitter
          Login with Twitter
        %a.btn.btn-small{:href => "#"}
          %i.icon-facebook
          Login with Facebook

.login-extra
  Don't have an account? #{link_to 'Sign Up', signup_path}
  %br/
  Remind #{link_to 'Password', forgot_password_path}

