.media
  = image_tag(@solution.user.gravatar_url(:size => 64), :class => "img-circle pull-left")
  .media-body
    %h4.media-heading
      = link_to @solution.user.login, @solution.user
      solved in #{@solution.language.name}
      at #{l @solution.source_updated_at}
    %i.icon-time
    \#{"%5.2f" % @solution.time}
    %abbr{:title => 'milliseconds'} ms
    = link_to view_solution_path(@solution), :class => 'btn btn-small pull-right' do
      %i.icon-eye-open
      View solution

.main-content
  %table.table.table-striped
    %thead
      %tr
        %th{:title => 'Test number'}
          %i.icon-cogs
        %th{:title => 'Program execution'}
          %i.icon-tasks
        %th{:title => 'Time'}
          %i.icon-time
        %th{:title => 'Memory'}
          %i.icon-hdd
        %th{:title => 'Result'}
          %i.icon-check-empty
    %tbody
      - @solution.results.each_with_index do |result, index|
        %tr
          %td.numbering
            = test_purpose(result)
            = index + 1
          %td.small= translate_message(result.execution)
          %td
            = "%5.2f" % result.time
            %abbr{:title => 'milliseconds'} ms
          %td
            = result.memory
            %abbr{:title => 'kilobytes'} kb
          %td= show_correctness(result.matched)
