%table.table.table-striped#solutions-table
  %thead
    %tr
      %th{title: 'Toggle failed'}
        %i.icon-check-empty.toggler{data: {toggle: 'failed'} }
      %th
      %th{title: 'Sort by submitted time'}
        Submitted
      %th{title: 'Sort by time'}
        %i.icon-time
        ms
  %tbody
    - @solutions.each do |solution|
      %tr{:class => solution.passed? ? 'passed' : 'failed'}
        %td= link_to show_correctness(solution.passed?), solution
        %td
          = link_to solution.user.login, solution.user
          .muted #{solution.language.name}, #{(solution.percent*100).to_i}%
        %td= l solution.source_updated_at
        %td= "%5.2f" % solution.time
