%h1
  = link_to @problem.name, @problem
.subhead
  Posted by #{link_to @problem.user.login, @problem.user}
  - if @problem.contest
    for #{link_to @problem.contest.name, @problem.contest}
.row
  .span3.profile
    = render :partial => 'problems/profile', :locals => {:problem => @problem}
.row
  .span5
    %section
      = form_for @solution, :html => { :multipart => true, :class => 'form-horizontal'} do |form|
        %legend Edit a solution
        - if @solution.contest.nil? && @problem.contest && @problem.contest.continuing?
          = message_box_with_close_button(t('message.individual_submission', :page => link_to(@problem.contest.name, @contest)), css='alert-info')
        = form.hidden_field :contest_id
        .control-group
          %label.control-label{:for => :language} Source
          .controls
            = form.file_field :source, :class => 'input-medium'
        .control-group
          %label.control-label{:for => :language} Language
          .controls
            = form.select :language, Language.all.collect{|l| [l.name, l.name.downcase]}, {}, :class => 'input-small'
        .control-group
          .controls
            %button{:type=>"submit", :class=>"btn btn-primary"}
              %i.icon-upload
              Submit
            = link_to @solution, :class=>"btn" do
              Cancel
