%table.table.table-bordered.table-stripped
  %thead
    %tr
      %th#standing
      %th= @user.login
      %th.text-center
        %i.icon-flag
      %th.text-center
        %i.icon-cogs
      %th.text-center
        %i.icon-time
  %tbody
    - @solutions.each do |s|
      %tr
        %td= link_to show_correctness(s.passed?), s
        %td
          = link_to s.problem.name, s.problem
          %small.muted
            = s.language.name
            %br
            = subsequent_dates s.created_at, s.source_updated_at
        %td.center= '%.3f' % s.point
        %td.center #{"%0.0f" % (s.percent*100)}%
        %td.center= sec2milisec s.time
