%h1
  - if @solution.contest
    = link_to(@solution.contest.name, @solution.contest)
    %i.icon-double-angle-right
  = link_to(@solution.problem.name, @solution.problem)
.row
  .span3.profile
    = render :partial => 'problems/profile', :locals => {:problem => @solution.problem}

%h2 My Solution

.row
  .span6#result
    != render :partial => 'results/list'
    %i.icon-spinner.hide#check-wait

.row
  .span6
    = render :partial => 'comments/commentable', :object => @solution
