%h2
  - if @solution.contest
    = link_to(@solution.contest.name, @solution.contest)
    %i.icon-double-angle-right
  = link_to(@solution.problem.name, @solution.problem)
  
.subhead
  = link_to @solution.user.login, @solution.user
  submitted at #{l @solution.source_updated_at}
  in  #{@solution.language.name} #{h @solution.source_file_name}
.btn-group
  = link_to view_solution_path(@solution), :title => "Бодолтыг харах", :class=>"btn btn-small" do
    %i.icon-eye-open
    View
  - unless @solution.judged?
    = link_to check_solution_path(@solution), :remote => true, :html => {:id=>'check-button', :class=>"btn btn-small" } do
      %i.icon-cogs
      Run
  - if current_user.owns? @solution
    - if @solution.freezed?
      = link_to new_solution_path(:problem => @solution.problem_id), :class=>"btn btn-small" do
        %i.icon-repeat
        Re-submit
    - else
      = link_to edit_solution_path(@solution), :class=>"btn btn-small" do
        %i.icon-wrench
        Fix
      = link_to @solution, :confirm => 'Энэ бодолтыг нээрээ устгах уу?', :method => :delete, :class=>"btn btn-small" do
        %i.icon-trash
        Delete

.row
  .span6
    %section#result
      != render :partial => 'results/list'
      %i.icon-spinner.hide#check-wait

.row
  .span6
    = render :partial => 'comments/commentable', :object => @solution
