!!!
%html
  %head
    %title #{title}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "nofollow", :name => "robots"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/

    %link{:href => image_path('favicon.ico'), :rel => "icon", :type => "image/x-icon"}/
    %link{:href => image_path('favicon.ico'), :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => image_path("apple-touch-icon.png"), :rel => "apple-touch-icon"}/
    %link{:href => image_path("apple-touch-icon-57x57.png"), :rel => "apple-touch-icon", :sizes =>"57x57"}/
    %link{:href => image_path("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon", :sizes =>"72x72"}/
    %link{:href => image_path("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon", :sizes =>"114x114"}/
    %link{:href => image_path("apple-touch-icon-144x144.png"), :rel => "apple-touch-icon", :sizes =>"144x144"}/

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tag

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "/"}
            = Settings.name
          .nav-collapse.collapse
            %ul.nav#topnav
              %form.navbar-search.pull-left{:action => "/search", :method => "get"}
                %input.search-query.span2#search{:type => "text", :placeholder => "Search", :name => "q", :value => params[:q]}
              %li
                = link_to contests_path do
                  %i.icon-trophy
                  = t('.contests')
              %li
                = link_to problems_path do
                  %i.icon-question-sign
                  = t('.problems')
              %li
                = link_to blog_posts_path do
                  %i.icon-pencil
                  = t('.blogs')
              %li
                = link_to users_path do
                  %i.icon-group
                  = t('.coders')
              - if logged_in?
                %li.dropdown
                  %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                    \#{image_tag current_user.gravatar_url(:size => 20)} #{current_user.login}
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to account_users_path do
                        %i.icon-user
                        = t('.account')
                    %li
                      = link_to edit_user_path(current_user) do
                        %i.icon-wrench
                        = t('.preferences')
                    %li
                      = link_to dashboard_path do
                        %i.icon-sitemap
                        = t('.dashboard')
                    %li
                      = link_to logout_path do
                        %i.icon-signout
                        = t('.logout')
              - else
                %li
                  = link_to t('.login'), login_path
                %li
                  = link_to t('.signup'), signup_path
    .container
      = flashy
      %section
        = yield

    %footer.footer
      .container
        %p
          \&copy; #{Settings.copyright % Date.today.year}
        %ul.footer-links
          %li= link_to t('.about'), about_path
          %li.muted &middot;
          %li= link_to t('.help'), help_posts_path
          %li.muted &middot;
          %li= link_to t('.issues'), 'https://github.com/ochko/prudge/issues'

    = javascript_include_tag "application"
