!!!
%html
  %head
    %title #{title}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "nofollow", :name => "robots"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/

    %link{:href => image_path('favicon.ico'), :rel => "icon", :type => "image/x-icon"}/
    %link{:href => image_path('favicon.ico'), :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => image_path("apple-touch-icon.png"), :rel => "apple-touch-icon"}/
    %link{:href => image_path("apple-touch-icon-57x57.png"), :rel => "apple-touch-icon", :sizes =>"57x57"}/
    %link{:href => image_path("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon", :sizes =>"72x72"}/
    %link{:href => image_path("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon", :sizes =>"114x114"}/
    %link{:href => image_path("apple-touch-icon-144x144.png"), :rel => "apple-touch-icon", :sizes =>"144x144"}/

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tag

  %body.login

    = yield

    = javascript_include_tag "application"
