!!!
%html
  %head
    %title #{title}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "noindex", :name => "robots"}/
    %meta{:content => "nofollow", :name => "robots"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/

    %link{:href => image_path('run.ico'), :rel => "icon", :type => "image/x-icon"}/
    %link{:href => image_path('run.ico'), :rel => "shortcut icon", :type => "image/x-icon"}/

    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tag

  %body.login

    = yield

    = javascript_include_tag "application"
